
{% load static %}
<!--begin::Header-->
<div id="kt_app_header" class="app-header">
	<!--begin::Header container-->
	<div class="app-container container-fluid d-flex align-items-stretch justify-content-between" id="kt_app_header_container">
		<!--begin::Logo-->
		<div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
			<a href="?page=index">
				<img alt="Logo" src="{% static 'assets/media/logos/logo-1-dark.svg' %}" class="h-20px h-lg-30px app-sidebar-logo-default" />
			</a>
		</div>
		<!--end::Logo-->
		<!--begin::Header wrapper-->
		<div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
			<!--layout-partial:layout/partials/_page-title.html-->
			<!--layout-partial:layout/partials/header/_navbar.html-->
			{% include 'theme/layout/partials/header/_navbar.html' %}
			{% comment %} {% include 'theme/layout/partials/header/_navbar.html' %} {% endcomment %}
		</div>
		<!--end::Header wrapper-->
	</div>
	<!--end::Header container-->
</div>
<!--end::Header-->